<div class="col-md-6 mx-auto" style="text-align:center">
    <label>Personnel</label>
    <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let colonne of tablePersonnel.rows; let i = index">{{colonne}}</th>
          </tr>
        </thead>
        <tr>
          <td>123</td>
          <td>Space Mountain</td>
          <td>12/01/1993</td>
          <td>123</td>
          <td>Space Mountain</td>
          <td>12/01/1993</td>
        </tr>
    </table>
</div>
